<app-animacion></app-animacion>

<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
</div>

<div class="row p-0 m-0" id="contenedor">

    <div class="col text-center p-4" id="contenedor-cartas">
        <h1 class="text-white">Mis cartas</h1>

        <div class="row">

            <div class="carta">
                <div class="img-carta">
                    <img src="" alt="">
                </div>
                <span>Nombre</span>
            </div>
    
            <div class="carta">
                <div class="img-carta">
                    <img src="" alt="">
                </div>
                <span>Nombre</span>
            </div>
    
            <div class="carta">
                <div class="img-carta">
                    <img src="" alt="">
                </div>
                <span>Nombre</span>
            </div>
    
            <div class="carta">
                <div class="img-carta">
                    <img src="" alt="">
                </div>
                <span>Nombre</span>
            </div>

        </div>


    </div>
    <div class="col-12 col-md-9 cont">
        <div id="texto-llenar">
            <div class="text-white text-center" id="txt-pregunta">
                <h1>FUE {{ nombre }}<span [hidden]="linea1">__________</span> EN EL MODULO {{ modulo }} <span [hidden]="linea2">_________</span> CON {{ error }} <span [hidden]="linea3">_________</span></h1>
            </div>
            <div id="tabla" class="p-4">
                <div class="row tit">
                    <h2 class="titulo-cartas">PROGRAMADORES</h2>
                    <div class="col-6 col-md prog1">
                        <div class="carta-tablero" (click)="mostrarNombre()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarNombre()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Antonio.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarNombre()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Carlos.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarNombre()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Juan.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarNombre()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Juanita.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarNombre()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Manuel.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarNombre()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Pedro.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                </div>
                <h2 class="titulo-cartas">MODULOS</h2>
                <div class="row tit">
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarModulo()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Recibo.jpg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarModulo()">
                            <div class="img-carta-tabla mb-1 mb-1">
                                <img src="../../../assets/img/Facturacion.png" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarModulo()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Contabilidad.png" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarModulo()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Usuarios.jpg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarModulo()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Nomina.jpg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarModulo()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Comprobante-contable.png" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                    </div>
                </div>
                <h2 class="titulo-cartas">ERRORES</h2>
                <div class="row tit">
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarError()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarError()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarError()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarError()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero" (click)="mostrarError()">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla mb-1">
                                <img src="../../../assets/img/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                    </div>
                </div>
            </div>
            <div class="row botones">
                <div class="col-lg-6 btn-1">
                    <button type="button" class="btn btn-primary m-5" id="btn-preguntar" (click)="preguntarAcusar()">PREGUNTAR</button>
                </div>
                <div class="col-lg-6 btn-2">
                    <button type="button" class="btn btn-danger m-5" id="btn-acusar" (click)="preguntarAcusar()">ACUSAR</button>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-md-1 p-4 div-chat">
        <div id="mensaje" class="text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fas fa-comment"></i><br>
            <h3 class="text-white">Chat</h3>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Chat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div *ngFor="let mensaje of mensajes" class="modal-body text-end">
                {{ mensaje }}
                </div>
                <div class="modal-footer input-group">
                    <input #mensaje class="form-control" id="message-text" placeholder="Mensaje">
                    <button type="button" class="btn btn-primary" (click)="mostrarMensaje(mensaje.value)">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>