<div class="row p-0 m-0" id="contenedor">

    <div class="col text-center p-4" id="contenedor-cartas">
        <h1 class="text-white">Mis cartas</h1>

        <div class="carta">
            <div class="img-carta">
                <img src="" alt="">
            </div>
            <span>Nombre</span>
        </div>

        <div class="carta">
            <div class="img-carta">
                <img src="" alt="">
            </div>
            <span>Nombre</span>
        </div>

        <div class="carta">
            <div class="img-carta">
                <img src="" alt="">
            </div>
            <span>Nombre</span>
        </div>

        <div class="carta">
            <div class="img-carta">
                <img src="" alt="">
            </div>
            <span>Nombre</span>
        </div>

    </div>
    <div class="col-9 p-4">
        <div id="texto-llenar">
            <div class="text-white text-center">
                <h1>FUE <span>_______</span> EN EL MODULO <span>__________</span> CON <span>_________</span></h1>
            </div>  
            <div id="tabla" class="p-5">
                <div class="row">
                    <h2>PROGRAMADORES</h2>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                             <img src="../../../assets/Antonio.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Carlos.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Juan.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Juanita.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Manuel.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Pedro.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                </div>
                <h2>MODULOS</h2>
                <div class="row">
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Recibo.jpg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Facturacion.png" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Contabilidad.png" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Usuarios.jpg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Nomina.jpg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Comprobante-contable.png" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <h2>ERRORES</h2>
                <div class="row">
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="carta-tablero">
                            <div class="img-carta-tabla">
                                <img src="../../../assets/Carolina.svg" alt="">
                            </div>
                            <span>Nombre</span>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="col-1 p-4">
        <div id="mensaje" class="text-center">
            <i class="fas fa-comment"></i>
        </div>
    </div>
</div>