<!-- animacion del fondo -->
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<!-- este es el componenete de la animacion en las que se barajan las cartas -->
<app-animacion [hidden]="ocultar" (click)="ocultarComponente()" id="app-animacion"></app-animacion>

<!-- comenzamos el componenete principa (tablero) -->
<div class="row p-0 m-0" id="contenedor" [hidden]="!ocultar">
    <!-- una columna que tendra todas nuestras cartas (apartado "Mis cartas") -->
    <div class="col text-center p-4" id="contenedor-cartas">
        <h1 class="text-white">Mis cartas</h1>

        <div class="row">
            <!-- carta -->
            <div class="carta animate__animated animate__fadeInTopLeft" *ngFor="let cpi of cards_player">
                <div class="img-carta">
                    <img src="https://sena-nexus-back.herokuapp.com/soft/v1/api/files?id={{cpi.id_cards}}" [alt]="cpi.name_card" height="100%" width="100%">
                </div>
                <span>{{cpi.name_card}}</span>
            </div>
            <!-- carta -->
        </div>

    </div>

    <!-- columna que contiene la preguna,el tablero y los botones (reguntar y acusar)  -->
    <div class="col-12 col-md-9 cont">
        <div id="texto-llenar">
            <!-- pregunta -->
            <div class="text-white text-center" id="txt-pregunta">
                <h1>
                    FUE {{ obj_quest?.quien?.name }}
                    <span *ngIf="!linea1">__________</span> 
                    EN EL MODULO {{ obj_quest?.modulo?.name }} 
                    <span *ngIf="!linea2">_________</span> 
                    CON {{ obj_quest?.error?.name }} 
                    <span *ngIf="!linea3">_________</span>
                </h1>
            </div>
            <!-- tabla -->
            <div id="tabla" class="p-4">
                <div class="row tit">
                    <!-- titulo de el grupo de cartas "PROGRAMADORES" -->
                    <h2 class="titulo-cartas">PROGRAMADORES</h2>
                    <div class="col-6 col-md prog1" *ngFor="let ci of list?.quien">
                        <div class="carta-tablero animate__animated animate__zoomIn" (click)="mostrarNombre(ci.id_card.name_card, ci.id_card._id)" data-bs-toggle="tooltip" data-bs-placement="top" [title]="">
                            <div class="img-carta-tabla mb-1">
                                <img src="https://sena-nexus-back.herokuapp.com/soft/v1/api/files?id={{ci.id_card._id}}" [alt]="ci.id_card.name_card">
                            </div>
                            <span>{{ci.id_card.name_card}}</span>
                        </div>
                    </div>
                </div>
                <!-- titulo del grupo de cartas "MODULOS" -->
                <h2 class="titulo-cartas">MODULOS</h2>
                <div class="row tit">
                    <div class="col-6 col-md" *ngFor="let cm of list?.modulo">
                        <div class="carta-tablero animate__animated animate__zoomIn" (click)="mostrarModulo(cm.id_card.name_card, cm.id_card._id)">
                            <div class="img-carta-tabla mb-1">
                                <img src="https://sena-nexus-back.herokuapp.com/soft/v1/api/files?id={{cm.id_card._id}}" [alt]="cm.id_card.name_card">
                            </div>
                            <span>{{cm.id_card.name_card}}</span>
                        </div>
                    </div>
                    <!-- espacio de una "carta" ccarta vacia (solo el espacio) -->
                    <div class="col-6 col-md">
                    </div>
                </div>
                <!-- titulo del grupode cartas "ERRORES" -->
                <h2 class="titulo-cartas">ERRORES</h2>
                <div class="row tit">
                    <div class="col-6 col-md" *ngFor="let ce of list?.error">
                        <div class="carta-tablero animate__animated animate__zoomIn" (click)="mostrarError(ce.id_card.name_card, ce.id_card._id)">
                            <div class="img-carta-tabla mb-1">
                                <img src="https://sena-nexus-back.herokuapp.com/soft/v1/api/files?id={{ce.id_card._id}}" [alt]="ce.id_card.name_card">
                            </div>
                            <span>{{ce.id_card.name_card}}</span>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                    </div>
                </div>
            </div>
            <!-- fila de los botones -->
            <div class="row botones">
                <div class="col-lg-6 btn-1">
                    <!--  boton PREGUNTAR -->
                    <button type="button" class="btn btn-primary m-5 animate__animated animate__pulse"
                        id="btn-preguntar" (click)="preguntar()">PREGUNTAR</button>
                </div>
                <div class="col-lg-6 btn-2">
                    <!-- boton ACUSAR -->
                    <button type="button" class="btn btn-danger m-5 animate__animated animate__pulse" id="btn-acusar"
                        (click)="acusar()">ACUSAR</button>
                </div>

            </div>
        </div>
    </div>

    <!-- contenedor del chat -->
    <div class="col-md-1 p-4 div-chat">
        <div id="mensaje" class="text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fas fa-comment"></i><br>
            <h3 class="text-white">Chat</h3>
        </div>
    </div>
    <!-- modal del chat -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Chat</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div *ngFor="let mensaje of mensajes" class="modal-body text-end">
                    {{ mensaje }}
                </div>
                <div class="modal-footer input-group">
                    <input #mensaje class="form-control" id="message-text" placeholder="Mensaje">
                    <button type="button" class="btn btn-primary"
                        (click)="mostrarMensaje(mensaje.value)">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>