<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-0">
        <div class="row titulo">
            <h1>¡GUB!</h1>
        </div>
        <div class="row">
            <form class="form-home">
                <h3>Ingresa <label>los datos</label> de <br> la sala</h3> 
                <br>
                <div class="card p-3">
                    <input type="text" class="form-control mb-2 mt-3" placeholder="Nombre usuario">
                    <input type="text" class="form-control" placeholder="Nombre sala (opcional)">
                    <br>
                    <button type="submit" class="btn btn-primary mb-3">Unirse</button>
                </div>
                <br>
                <p class="text-center text-white">¿Ya tienes un codigo de sala? <a href=""> Unirte ahora</a></p>
            </form>
        </div>
    </div>
</body>
</html>