<!-- Creación del componente Home -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Container principal del body -->
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div>
    <div class="container-fluid p-0">
        <!-- Container de la imagen principal y del formulario de creación de una sala -->
        <div class="row img-form">
            <div class="col-lg-6 div-img">
                <!-- Imagen principal -->
                <img src="assets/img/GUB-3.png" alt="logo-GUB">
            </div>
            <div class="col-lg-6 div-form">
                <!-- Formulario de creación de la sala -->
                <form class="form-home" [formGroup]="form_create_sala" (ngSubmit)="create_sala()">
                    <h3 class="animate__animated animate__bounce">Ingresa los datos de la sala</h3>
                    <div class="card">
                        <input type="text" class="form-control mb-2 mt-3" placeholder="Nombre usuario" formControlName="user_admin">
                        <input type="text" class="form-control" placeholder="Nombre sala" formControlName="name_sala">
                        <br>
                        <button type="submit" class="btn btn-primary mb-3">Crear sala</button>
                        <br>
                        <p class="text-center">¿Ya tienes un codigo de sala? <a routerLink="/unirse">Unirte ahora</a></p>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>