<div id="contenedor">
   <div id="tabla" class="p-4">
        <div class="row tit">
            <div class="col-6 col-md prog1 mb-5">
                <div class="carta-tablero barajar-abajo-derecha" >
                    <div class="img-carta-tabla mb-1 voltear-imagen  ">
                        <img src="../../../assets/img/Carolina.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-abajo-derecha" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Antonio.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-abajo" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Carlos.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-abajo" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Juan.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-abajo-izquierda" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Juanita.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-abajo-izquierda" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Manuel.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-abajo-izquierda" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Pedro.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
        </div>
        <div class="row tit">
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-derecha" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Recibo.jpg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-derecha" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Facturacion.png" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-abajo" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Contabilidad.png" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-abajo" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Usuarios.jpg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-izquierda" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Nomina.jpg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-izquierda" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Comprobante-contable.png" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md">
            </div>
        </div>
        <div class="row tit">
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-arriba-derecha" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Carolina.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-arriba-derecha" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Carolina.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-arriba " >
                    <div class="img-carta-tabla mb-1 voltear-imagen  voltear-imagen">
                        <img src="../../../assets/img/Carolina.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-arriba" >
                    <div class="img-carta-tabla mb-1 voltear-imagen  voltear-imagen">
                        <img src="../../../assets/img/Carolina.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-arriba-izquierda" >
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Carolina.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md mb-5">
                <div class="carta-tablero barajar-arriba-izquierda">
                    <div class="img-carta-tabla mb-1 voltear-imagen ">
                        <img src="../../../assets/img/Carolina.svg" alt="">
                    </div>
                    <span class="voltear-imagen">Nombre</span>
                </div>
            </div>
            <div class="col-6 col-md">
            </div>
        </div>
    </div>
</div>